<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyros.technologies.bar">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ServiceHandler.ServiceHandler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Common.activity.Activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Common.activity.Activity.SignUpActivity"
            android:label="Sign Up"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Common.activity.Activity.LandingActivity"
            android:label="@string/title_activity_landing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Common.activity.Activity.SettingActivity"
            android:label="Settings" />
        <activity
            android:name=".Common.activity.Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Common.activity.Activity.UserManagementActivity"
            android:label="User Management" />
        <activity
            android:name=".Common.activity.Activity.UserDetailsActivity"
            android:label="User Details" />
        <activity
            android:name=".Common.activity.Activity.EmailManagementActivity"
            android:label="Email Management" />
        <activity
            android:name=".Common.activity.Activity.ProfileViewActivity"
            android:label="Profile" />
        <activity
            android:name=".Common.activity.Activity.AddEmailActivity"
            android:label="Add Email" />
        <activity
            android:name=".Inventory.Activity.Activity.BarActivity"
            android:label="Bar" />
        <activity
            android:name=".Inventory.Activity.Activity.AddSectionActivity"
            android:label="Section" />
        <activity
            android:name=".Inventory.Activity.Activity.SectionBottlesActivity"
            android:label="Section Bar" />
        <activity
            android:name=".Inventory.Activity.Activity.InventoryListActivity"
            android:label="Inventory List" />
        <activity android:name=".Common.activity.Activity.ChangePasswordActivity"
            android:label="Change Password"/>
        <activity
            android:name=".Purchase.Activity.PurchaseListActivity"
            android:label="Purchase Stock" />
        <activity
            android:name=".Inventory.Activity.Activity.MyInventoryListActivity"
            android:label="My Inventory List" />
        <activity android:name=".Inventory.Activity.Activity.BottleDescriptionActivity"
            android:label="Bottle Details"/>
        <activity android:name=".Common.activity.Activity.ValueOnHand"
            android:label="Value on Hand"/>
        <activity android:name=".Common.activity.Activity.VenueSummary"
            android:label="Venue Summary"/>
        <activity android:name=".Inventory.Activity.Activity.InventoryActivity"
            android:label="Inventory Type"/>
        <activity android:name=".Purchase.Activity.BottleDetails"
            android:label="Bottle Details"/>
        <activity android:name=".Inventory.Activity.Activity.AddToInventory"
            android:label="Add To Inventory"/>
        <activity android:name=".Inventory.Activity.Activity.AddCustomBottle"
            android:label="Add Custom Bottle"/>
        <activity android:name=".Inventory.Activity.Activity.CustomBottleDetails"
            android:label="Custom Bottle"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Inventory.Activity.Activity.AddCustomKeg"
            android:label="Add Custom Keg"/>
        <activity android:name=".Inventory.Activity.Activity.CustomKegDetails"
            android:label="Custom Keg"/>
        <activity android:name=".Inventory.Activity.Activity.LiquorSlider"
            android:label="Liquor Slider"/>
        <activity android:name=".Common.activity.Activity.ParList"
            android:label="Par List"/>
        <activity android:name=".Common.activity.Activity.DistributorList"
            android:label="Distributor List"/>
        <activity android:name=".Common.activity.Activity.DistributorDetails"
            android:label="Distributor Details"/>
        <activity android:name=".Inventory.Activity.Activity.AddBottleActivity"
            android:label="Add Bottle"/>
        <activity android:name=".Common.activity.Activity.EditProfile"
            android:label="Edit Profile"/>
        <activity android:name=".Purchase.Activity.BottlePurchaseStock"
            android:label="Bottle Details"/>
    </application>

</manifest>